.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 95vh;
    text-align: center;
}

.main div + div {
    margin-top: 3rem;
}

.main h1,
.main h2 {
    margin-bottom: 1rem;
}

.main p {
    margin-bottom: 0.5rem;
}
